
<<<<<<< HEAD
@media screen and (max-width:640px){
    .toggle{
        transform: translateX(50%);
        transition: 0.5s;
        z-index: 99;
    }
    body{
        overflow-x:hidden ;
    }
    .big-box{
        display: none;
    }
    .big-box-phone-b{
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .big-box-phone-two{
        float: left;
        width: 100%;
        overflow: hidden;
    }
    .h-nav{
        width: 100%;
        float: left;
    }
    .h-nav1{
        position: fixed;
        top: 0;
        width: 100%;
        height: 20px;
=======
@media screen and (max-width:768px){
    .h-nav{
        width: 100%;
        /*position: relative;*/
        float: left;
    }
    .h-nav1{
        position: absolute;
        top: 0;
        width: 100%;
        height: 33px;
>>>>>>> origin/master
        z-index: 999;
        padding: 20px 0;
        -webkit-background-color: #000;
        -o-background-color:#000;
        -moz-background-color:#000;
        -ms-background-color:#000;
        background-color: #000;
        float: left;
    }
    .h-nav2{
        width: 100%;
<<<<<<< HEAD
        height: 20px;
=======
        height: 33px;
>>>>>>> origin/master
        margin-left: auto;
        margin-right: auto;
    }
    .h-nav-logo{
<<<<<<< HEAD
        width: 100%;
        height: 20px;
        float: left;
    }
    .h-nav-logo a{
        width: 60px;
        height: 20px;
        font-size: 27px;
        color: #fff;
        font-weight: bold;
        float: left;
        margin-left: 50%;
    }
    .h-nav-logo a .h-PC{
        width: 60px;
        height: 100%;
        display: inline-block;
        margin-left: -83%;
        float: left;
    }
    .h-nav-logo .h-phone{
        display: inline-block;
        float: left;
        width: 20px;
        height: 20px;
        margin:0 0 0 10px;
    }
    .h-phone-ul{
        width: 50%;
        height: 100%;
        background-color: #000;
        /*position: absolute;*/
        position: fixed;
        left:0;
        top: 0;
        float: left;
        z-index: 0;
    }
    .h-phone-li:nth-child(1) a{
        margin-top: 60px;
    }
    .h-phone-li>a{
        display: block;
        color: #ccc;
        padding: 16px 30px;
    }
    /*内容*/
    .h-phone-cont{
        width: 100%;
        background-color: #fff;
        overflow: hidden;
    }
    .h-phone-cont-lun{
        margin-top: 60px;
        overflow: hidden;
        height: 180px;
    }
    .h-phone-cont-list{
        width:400%;
        height: 100%;
        transition: .35s;
    }
    .h-phone-cont-list li{
        float: left;
        height: 100%;
        -webkit-background-repeat: no-repeat;
        -o-background-repeat: no-repeat;
        -moz-background-repeat: no-repeat;
        -ms-background-repeat: no-repeat;
        background-repeat: no-repeat;
        -webkit-background-position: center top;
        -o-background-position: center top;
        -moz-background-position: center top;
        -ms-background-position: center top;
        background-position: center top;
        background-size: cover;
    }
    .h-phone-cont-list li img{
        width: 100%;
    }
   /* .h-phone-cont-list li:nth-child(1){
        -webkit-background-image: url(../img/h-img/h-phone-banner-one.jpg);
        -o-background-image: url(../img/h-img/h-phone-banner-one.jpg);
        -moz-background-image: url(../img/h-img/h-phone-banner-one.jpg);
        -ms-background-image: url(../img/h-img/h-phone-banner-one.jpg);
        background-image: url(../img/h-img/h-phone-banner-one.jpg);
    }
    .h-phone-cont-list li:nth-child(2){
        -webkit-background-image: url(../img/h-img/h-phone-banner-two.jpg);
        -o-background-image: url(../img/h-img/h-phone-banner-two.jpg);
        -moz-background-image: url(../img/h-img/h-phone-banner-two.jpg);
        -ms-background-image: url(../img/h-img/h-phone-banner-two.jpg);
        background-image: url(../img/h-img/h-phone-banner-two.jpg);
    }
    .h-phone-cont-list li:nth-child(3){
        -webkit-background-image: url(../img/h-img/h-phone-banner-three.jpg);
        -moz-background-image: url(../img/h-img/h-phone-banner-three.jpg);
        -ms-background-image: url(../img/h-img/h-phone-banner-three.jpg);
        -o-background-image: url(../img/h-img/h-phone-banner-three.jpg);
        background-image: url(../img/h-img/h-phone-banner-three.jpg);
    }
    .h-phone-cont-list li:nth-child(4){
        -webkit-background-image: url(../img/h-img/h-phone-banner.jpg);
        -o-background-image: url(../img/h-img/h-phone-banner.jpg);
        -moz-background-image: url(../img/h-img/h-phone-banner.jpg);
        -ms-background-image: url(../img/h-img/h-phone-banner.jpg);
        background-image: url(../img/h-img/h-phone-banner.jpg);
    }*/
    /*第二快*/
    .h-phone-two{
        width: 100%;
        height: 234px;
        margin-top: 20px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }
    .h-phone-two p{
        padding: 15px 10px;
        font-size: 18px;
    }
    .h-phone-two>p>span{
        float: left;
    }
    .h-phone-two>p>a{
        float: right;
    }
    .h-phone-two-img{
        width: 100%;
        height: 70%;
        float: left;
    }
    .h-phone-two-img>.swiper-container>.swiper-wrapper>.swiper-slide>a>img{
        width: 100%;
        height: 100%;
        margin-left: 10px;
    }
    .h-phone-two-img>.swiper-container>.swiper-wrapper>.swiper-slide>a>p{
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 16px;
        color: #fff;
        padding: 0 0 15px 20px;
    }
    .swiper-wrapper2{
        margin-top: 20px;
        margin-left: -80px;
    }
    /*第三块*/
    .h-phone-three{
        width: 100%;
        height: 320px;
        margin-top: 20px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }
    .h-phone-three p{
        /*float: left;*/
        padding: 15px 10px;
        font-size: 18px;
    }
    .h-phone-three>p>span{
        float: left;
    }
    .h-phone-three>p>a{
        float: right;
    }
    .h-phone-three-img{
        width: 100%;
        height: 90%;
        float: left;
    }
    .h-phone-three-img>.swiper-container>.swiper-wrapper>.swiper-slide>a>img{
        width: 100%;
        height:70%;
        margin-left: 10px;
    }
    .h-phone-three-img>.swiper-container>.swiper-wrapper>.swiper-slide>a>p{
        font-size: 16px;
        color: #646464;
        padding: 0 0 15px 20px;
    }
    .swiper-container1>.swiper-wrapper1{
        width: 150%;
        height: 80%;
        margin-top: 28px;
        margin-left: -120px;
    }
    .swiper-container1{
        width: 150%;
        height: 100%;
    }
    /*第四块*/
    .h-phone-four{
        width: 100%;
        height: 353px;
        margin-top: 20px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }
    .h-phone-four p{
        padding: 15px 10px;
        font-size: 18px;
    }
    .h-phone-four>p>span{
        float: left;
    }
    .h-phone-four>p>a{
        float: right;
    }
    .h-phone-four-cont{
        width: 280px;
        height: 279px;
        margin: 20px auto;
        border: 1px solid #8BA4BA;
        background-color: #FCFCFC;
    }
    .h-phone-four-cont-title{
        width: 100%;
        height: 62px;
    }
    .h-phone-four-cont-title>h2{
        color: #3A3A3A;
        font-size: 14px;
        padding: 20px 0px 0 20px;
    }
    .h-phone-four-cont-title>p{
        font-size: 14px;
        padding: 5px 10px 0 20px;
    }
    .h-phone-four-cont-c>img{
        width: 246px;
        height: 157px;
        display: block;
        margin: 30px auto;
    }
    /*第五块  新闻*/
    .h-phone-five{
        width: 100%;
        height: 524px;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .h-phone-five p{
        padding: 15px 10px;
        font-size: 18px;
    }
    .h-phone-five>p>span{
        float: left;
    }
    .h-phone-five-card{
        width: 280px;
        height: 96px;
        border-bottom: 1px solid #ccc;
        margin: 20px auto;
    }
    .h-phone-five-text{
        width: 189px;
        height: 80px;
        float: left;
    }
    .h-phone-five-text>img{
        width: 50px;
        height: 13px;
        display: block;
        padding: 10px;
    }
    .h-phone-five-text>p{
        font-size: 14px;
        color: #555555;
        padding: 0 0 0 0;
        text-indent: 5px;
    }
    .h-phone-five-img{
        width: 91px;
        height: 80px;
        float: left;
    }
    .h-phone-five-img>img{
        width: 91px;
        height: 64px;
        display: block;
        margin: 8px 0 0 0;
    }
    .h-phone-five-card:last-child{
        height: 116px;
    }
    /*底部*/
    .h-phone-foot{
        width: 100%;
        height: 60px;
        background-color: #000;
        overflow: hidden;
    }
    .h-phone-foot-img{
        width: 20%;
        height: 25px;
        float: left;
        margin: 15px 0 0 5px;
    }
    .h-phone-foot-img>img{
        width: 25px;
        height: 25px;
        float: left;
        display: inline-block;
    }
    .h-phone-foot-img>img:nth-child(1){
        margin-right: 2px;
    }
    .h-phone-foot-text{
        width: 75%;
        height: 30px;
        float: left;
        margin: 5px 0 0 0;
    }
    .h-phone-foot-text>p{
        color: #fff;
        font-size: 12px;
    }
    /*右下角固定*/
    .h-phone-right{
        width: 50px;
        height: 220px;
        position: fixed;
        right: 20px;
        bottom:50px;
        z-index: 99;
    }
    .h-phone-right-one{
        width: 100%;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        margin-bottom: 5px;
    }
    .h-phone-right-one>a>img{
        width: 100%;
        height: 100%;
        margin: auto auto;
        display: block;
    }
    /*左边导航*/
    .h-phone-div{
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: -1;
    }
    .h-phone-div>a:nth-child(1){
        margin-top: 60px;
    }
    .h-phone-div>a{
        display: block;
        color: #fff;
        padding: 20px;
    }
    /*免费通话*/
    .h-phone-tel{
        display: none;
        width: 100%;
        height: 100%;
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        background:rgba(0,0,0,0.5);
    }
    .h-phone-tel-box{
        width: 80%;
        height: 260px;
        background-color: #F9F9F9;
        margin: 60% auto;
        border-radius: 15px;
    }
    .h-phone-tel-box>h4{
        display: block;
        padding:20px 30px;
        text-align: center;
        font-size: 20px;
        color: #858585;
    }
    .h-phone-tel-box>input{
        width: 80%;
        height: 39px;
        margin: 0 auto;
        display: block;
        outline: none;
        border: 1px solid #E7E7E7;
        border-radius: 10px;
        background-color: #fff;
    }
    .h-phone-tel-box>p{
        margin: 0 auto;
        font-size: 13px;
        color: #5E5E5E;
        padding: 20px;
    }
    .h-phone-tel-box>p>span{
        color: #FA7C83;
    }
    .h-phone-tel-box>button{
        display: block;
        width: 170px;
        height: 40px;
        margin: 10px auto;
        background-color: #FB515A;
        color: #fff;
        border-radius: 10px;
=======
        width: 99px;
        height: 33px;
        float: left;
    }
    .h-nav-logo a{
        font-size: 27px;
        color: #fff;
        font-weight: bold;
    }
    .h-nav-logo a .h-PC{
        width: 100%;
        height: 100%;
        display: inline-block;
        margin-left: 50%;
        float: left;
    }
    .h-nav-logo a .h-phone{
        display: inline-block;
        float: left;
        width: 40px;
        height: 40px;
    }
    .h-nav2 ul{
        float: right;
        display: none;
    }
    .h-nav2 ul li{
        float: left;
        margin-left: 50px;
    }
    .h-nav2 ul li a{
        display: inline-block;
        height: 33px;
        line-height: 33px;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
    }
    .h-nav2 ul li .icon-dianhua{
        font-size: 24px;
        color: #fff;
    }
    .h-nav2 ul li span.select{
        width:100%;
        height: 2px;
        display: block;
        -webkit-background-color: #fff;
        -o-background-color:#fff;
        -moz-background-color:#fff;
        -ms-background-color:#fff;
        background-color: #fff;
    }
    .h-nav2 ul li span{
        width:0;
        height: 2px;
        display: block;
        -webkit-background-color: #fff;
        -o-background-color:#fff;
        -moz-background-color:#fff;
        -ms-background-color:#fff;
        background-color: #fff;
>>>>>>> origin/master
    }
}