
body{
    width: 100%;
    position: absolute;
}
.h-nav{
    /*height: 73px;*/
    width: 100%;
    /*position: relative;*/
    float: left;
}
.h-nav1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 33px;
    z-index: 999;
    padding: 20px 0;
    background-color: transparent;
    float: left;
}
.h-nav2{
    width: 1024px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
}
.h-nav-logo{
    width: 99px;
    height: 33px;
    float: left;
}
.h-nav-logo a{
    font-size: 27px;
    color: #fff;
    font-weight: bold;
}
.h-nav2 ul{
    float: right;
}
.h-nav2 ul li{
    float: left;
    margin-left: 50px;
}
.h-nav2 ul li a{
    display: inline-block;
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.h-nav2 ul li .icon-dianhua{
    font-size: 24px;
    color: #fff;
}
.h-nav2 ul li span.select{
    width:100%;
    height: 2px;
    display: block;
    background-color: #fff;
}
.h-nav2 ul li span{
    width:0;
    height: 2px;
    display: block;
    background-color: #fff;
}
/*头部*/
.h-header{
    width: 100%;
    height: 562px;
    position: relative;
    z-index: 10;
}
.h-header>img{
    position: relative;
    width: 100%;
    height: 100%;
}

/*内容*/
.h-main-cont{
    min-height: 5010px;
    margin: 0 auto 0;
    width: 100%;
    background-color: #fff;
    z-index: 11;
    position: relative;
    padding-bottom: 1px;
}
/*粉色花园*/
.h-main-cont-pink{
    width: 100%;
    height: 944px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
.h-main-cont-title{
    text-align: center;
    padding: 80px 0 0;
    font-size: 35px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 0;
}
.h-main-cont-more{
    text-align: center;
    padding: 20px 0 80px;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    letter-spacing: 5px;
    margin-bottom: 0;
}
.h-main-cont-wrap{
    width: 990px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 605px;
    /*background-color: aqua;*/
}
.h-main-cont-img1{
    transform: translateX(-200px);
    opacity: .3;
}
.h-main-cont-img2{
    position: absolute;
    bottom: 130px;
    right: 0;
    transform: translateX(200px);
    opacity: .3;
}
.h-main-cont-pink-video{
    width: 320px;
    height: 200px;
    background:url("../img/h-img/h-bac28.jpg") no-repeat;
    opacity: 0.3;
}
.h-main-cont-pink-video1{
    width: 320px;
    height: 200px;
    opacity: 0.5;
    background:#000 url("../img/h-img/h-bac33.png") no-repeat center center;
}
.h-main-cont-pink-text{
    position: absolute;
    right: 0;
    bottom: 0;
}
.h-main-cont-pink-text p:nth-child(1){
    width: 450px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.h-main-cont-pink-text p:nth-child(2){
    width: 90px!important;
    margin-bottom: 0;
    padding: 5px 0;
    border: 1px solid #337ab7;
    text-align: center;
}
.h-main-cont-pink-text p:nth-child(2)>a{
    font-size: 16px;
    color: #337ab7;
}
/*.h-main-cont-pink-video1{*/
    /*width: 1349px;*/
    /*height: 500px;*/
/*}*/

/*红色圣宴*/
.h-main-cont-red{
    width: 100%;
    height: 944px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
.h-main-cont-red-title{
    text-align: center;
    padding: 80px 0 0;
    font-size: 35px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 0;
}
.h-main-cont-red-more{
    text-align: center;
    padding: 20px 0 80px;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    letter-spacing: 5px;
    margin-bottom: 0;
}
.h-main-cont-red-wrap{
    width: 990px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 605px;
}
.h-main-cont-red-img1{
    transform: translateX(250px);
    opacity: .3;
}
.h-main-cont-red-img2{
    position: absolute;
    bottom: 100px;
    right: 0;
    transform: translateX(-150px);
    opacity: .3;
}
.h-main-cont-red-video{
    width: 320px;
    height: 200px;
    background:url("../img/h-img/h-bac29.jpg") no-repeat;
    opacity: 0.3;
    transform: translateX(40px);
    position: absolute;
    top: 340px;
}
.h-main-cont-red-video1{
    width: 320px;
    height: 200px;
    opacity: 0.5;
    background:#000 url("../img/h-img/h-bac33.png") no-repeat center center;
}
.h-main-cont-red-text{
    position: absolute;
    right: 0;
    bottom: 2px;
}
.h-main-cont-red-text p:nth-child(1){
    width: 450px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.h-main-cont-red-text p:nth-child(2){
    width: 90px!important;
    margin-bottom: 0;
    padding: 5px 0;
    border: 1px solid #337ab7;
    text-align: center;
}
.h-main-cont-red-text p:nth-child(2)>a{
    font-size: 16px;
    color: #337ab7;
}

/*Perfect Gift*/
.h-main-cont-Gift{
    width: 100%;
    height: 1039px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
.h-main-cont-Gift-title{
    text-align: center;
    padding: 80px 0 0;
    font-size: 35px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 0;
}
.h-main-cont-Gift-more{
    text-align: center;
    padding: 20px 0 80px;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    letter-spacing: 5px;
    margin-bottom: 0;
}
.h-main-cont-Gift-wrap{
    width: 990px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 700px;
}
.h-main-cont-Gift-img1{
    transform: translateX(-200px);
    opacity: .3;
}
.h-main-cont-Gift-img2{
    position: absolute;
    bottom: 105px;
    right: 0;
    transform: translateX(194px);
    opacity: .3;
}
.h-main-cont-Gift-video{
    width: 320px;
    height: 200px;
    background:url("../img/h-img/h-bac30.jpg") no-repeat;
    opacity: 0.3;
    transform: translateX(482px);
    position: absolute;
    top: 110px;
}
.h-main-cont-Gift-video1{
    width: 320px;
    height: 200px;
    opacity: 0.5;
    background:#000 url("../img/h-img/h-bac33.png") no-repeat center center;
}
.h-main-cont-Gift-text{
    position: absolute;
    right: 200px;
    bottom: 0px;
}
.h-main-cont-Gift-text p:nth-child(1){
    width: 450px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.h-main-cont-Gift-text p:nth-child(2){
    width: 90px!important;
    margin-bottom: 0;
    padding: 5px 0;
    border: 1px solid #337ab7;
    text-align: center;
}
.h-main-cont-Gift-text p:nth-child(2)>a{
    font-size: 16px;
    color: #337ab7;
}

/*LOLOTA/洛丽塔*/
.h-main-cont-LOLOTA{
    width: 100%;
    height: 1039px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
.h-main-cont-LOLOTA-title{
    text-align: center;
    padding: 80px 0 0;
    font-size: 35px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 0;
}
.h-main-cont-LOLOTA-more{
    text-align: center;
    padding: 20px 0 80px;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    letter-spacing: 5px;
    margin-bottom: 0;
}
.h-main-cont-LOLOTA-wrap{
    width: 990px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 700px;
}
.h-main-cont-LOLOTA-img1{
    transform: translateX(-200px);
    opacity: .3;
}
.h-main-cont-LOLOTA-img2{
    position: absolute;
    top: 200px;
    right: 0;
    transform: translateX(200px);
    opacity: .3;
}
.h-main-cont-LOLOTA-video{
    width: 320px;
    height: 200px;
    background:url("../img/h-img/h-bac31.jpg") no-repeat;
    opacity: 0.3;
    transform: translateX(482px);
    position: absolute;
    top: 350px;
    left: -450px;
}
.h-main-cont-LOLOTA-video1{
    width: 320px;
    height: 200px;
    opacity: 0.5;
    background:#000 url("../img/h-img/h-bac33.png") no-repeat center center;
}
.h-main-cont-LOLOTA-text{
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.h-main-cont-LOLOTA-text p:nth-child(1){
    width: 450px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.h-main-cont-LOLOTA-text p:nth-child(2){
    width: 90px!important;
    margin-bottom: 0;
    padding: 5px 0;
    border: 1px solid #337ab7;
    text-align: center;
}
.h-main-cont-LOLOTA-text p:nth-child(2)>a{
    font-size: 16px;
    color: #337ab7;
}

/*@来卿城*/
.h-main-cont-beauty{
    width: 100%;
    height: 1039px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
.h-main-cont-beauty-title{
    text-align: center;
    padding: 80px 0 0;
    font-size: 35px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 0;
}
.h-main-cont-beauty-more{
    text-align: center;
    padding: 20px 0 80px;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    letter-spacing: 5px;
    margin-bottom: 0;
}
.h-main-cont-beauty-wrap{
    width: 990px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 780px;
}
.h-main-cont-beauty-img1{
    transform: translateX(-200px);
    opacity: .3;
}
.h-main-cont-beauty-img2{
    position: absolute;
    top: 230px;
    right: 0;
    transform: translateX(200px);
    opacity: .3;
}
.h-main-cont-beauty-video{
    width: 320px;
    height: 200px;
    background:url("../img/h-img/h-bac32.jpg") no-repeat;
    opacity: 0.3;
    transform: translateX(482px);
    position: absolute;
    top: 420px;
    left: -500px;
}
.h-main-cont-beauty-video1{
    width: 320px;
    height: 200px;
    opacity: 0.5;
    background:#000 url("../img/h-img/h-bac33.png") no-repeat center center;
}
.h-main-cont-beauty-text{
    position: absolute;
    right: 0px;
    bottom: 80px;
}
.h-main-cont-beauty-text p:nth-child(1){
    width: 450px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.h-main-cont-beauty-text p:nth-child(2){
    width: 90px!important;
    margin-bottom: 0;
    padding: 5px 0;
    border: 1px solid #337ab7;
    text-align: center;
}
.h-main-cont-beauty-text p:nth-child(2)>a{
    font-size: 16px;
    color: #337ab7;
}
/*视频*/
.h-main-cont-video{
    position: relative;
    top: 0;
    z-index: 99999;
    width: 1349px;
    height: 638px;
    background: #000;
    display: none;
}
.h-main-cont-video video{
    width: 1349px;
    height: 600px;
    margin: 0 auto;
    display: block;
}
.h-main-cont-video-span{
    right: 0px;
    top: 0;
    margin-right: 2%;
    margin-top: 2%;
    position: absolute;
    opacity: 1;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.h-main-cont-video-span img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
/*底部*/
.h-footer{
    width: 100%;
    height: 559px;
    clear: both;
    background-color: #3a3a3a;
}
.h-footer-cont{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}
.h-footer-top{
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #4c4c4c;
    margin-bottom: 23px;
}
.h-footer-top>a{
    float: left;
    margin-left: 12px;
    line-height: 58px;
    font-size: 14px;
    color: #F2F2F2;
}
.h-footer-top>span{
    float: right;
    margin-right: 12px;
    font-size: 18px;
    color: #FF6F6F;
    line-height: 58px;
}
.h-footer-center{
    width: 100%;
    height: 283px;
    border-bottom: 1px solid #4c4c4c;
}
.h-foot-nav{
    width: 90px;
    margin-right: 154px;
}
.h-footer-center1{
    height: 240px;
    float: left;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
}
.h-footer-center1>h3{
    font-size: 14px;
    color: #fff;
    margin-bottom: 14px;
    margin-left: 12px;
}
.h-footer-center1>a,.h-footer-center1>p{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-bottom: 14px;
    margin-right: 8px;
    opacity: 0.69;
    margin-left: 12px;
}
.h-foot-nav>a:hover{
    opacity:1;
}
.h-foot-cont{
    width: 330px;
}
.h-foot-about{
    width: 211px;
    float: right;
    display: block;
    position: relative;
}
.h-foot-about1>a{
    opacity: 1;
    margin-right: 20px;
    position: relative;
    top: 3px;
}
.erweima{
    position: absolute;
    top: 80px;
    left: -48px;
    display: none;
}
.h-footer-copy{
    box-sizing: border-box;
    width: 1024px;
    height: 76px;
    padding: 14px 12px 28px 12px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    background-color: #3A3A3A;
    z-index: 2;
    border-top: 1px solid rgba(151,151,151,0.2);
}
.h-footer-copy>p{
    max-width: 350px;
    text-align: left;
    opacity: .4;
    float: left;
}
